<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<div id='bdayCountdown'>
    <h1 class="title">NodeJS - Birthday Countdown</h1>

    <form id="birthday_count_form" method="post" action="/">
    <table>
        <tbody>
            <tr><td><input type="text" name="name" id="name_form_id" value="{{ name }}" placeholder="Enter your name"></td></tr>
            <tr><td><input type="date" name="date" id="date_form_id" value="{{ date }}"></td></tr>
            <tr><td><input name="countBtn" id="submit_form_id" type="submit" value="Count days"></td></tr>
        </tbody>
        <tfoot>
            <tr colspan="2">
                <td><input name="loadBtn" type="submit" id="submit_form2_id" value="Load Info"></td>
                <td><input name="saveBtn" type="submit" id="submit_form3_id" value="Save & Count days"></td>
            </tr>
        </tfoot>
    </table>
    </form>

    <label id="days_label">{{ message }}</label>
</div>
