<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap&h=300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<div class="content-wrap">
    <div class="info">
        <span class="more-info">hover here for more info

        <div class="details">
            <p>Count the remaining days until your next birthday.</p>

            <p>You may save and load your info but since I didn't bother writing the logic to prevent overwriting existing records... feel free to do so :)</p>
        </div>
        </span>

        <h1 class="title">Birthday Countdown Web App</h1>
    </div>

    <form id="birthday-countdown-form" method="post" action="/app">
        <div class="user-input">
            <input id="name_form_id" type="text" name="name" value="{{ name }}" placeholder="Enter your name" required autofocus>
            <input id="date_form_id" type="date" name="date" value={{ date }}>
            <input class="btn btn-bg" name="countBtn" type="submit" value="Count remaining days">
        </div>

        <div class="actions">
            <input class="btn" name="loadBtn" type="submit" value="Load User Info">
            <input class="btn" name="saveBtn" type="submit" value="Save & Count days">
        </div>
    </form>

    <span id="days_label">{{ message }}</span>
</div>

<body>
  
</body>